label, input {
    display: block;
}

.ui-dialog fieldset {
    padding: 0px;
    margin: 0px;
    border: 0px;	
}

p.errors {
    font-weight: bold;
    color: red;
    margin: 0px;
    font-size: 12px; 
}
p[class*="error-"] {
    color: red !important;
    margin: 0px;
}

p.small[class*="error-"] {
    font-size: 12px !important; 
    line-height: 28px !important;
}

.big.center.text-center {
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
}

#l7p-global-success, .l7p-global-success {
    display: none;
}

#l7p-global-errors, .l7p-global-errors {
    display: none;
}
