#app-header-logo {
    width: 200px;
    height: 60px;
    background: url(images/VoIPdito.png) no-repeat center 0px;
}

.x-border-layout-ct { background-color: #FFFFFF !important; }

/* icons */
.add {background: url('images/icons/add.png') no-repeat;}

.user-list {background: url('images/icons/group.png') no-repeat;}
.user-edit {background: url('images/icons/user_edit.png') no-repeat;}

.group-edit {background: url('images/icons/group_edit.png') no-repeat;}
